gcode_files/
__pycache__/
*.pyc
*.pyo
.env
.idea
playlists.json
.vscode/
.DS_Store
Thumbs.db
*.swp
_other/
*/www/
.venv/
tmp/
venv/
docker/data/
config.json

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST